* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


    border: 1px solid blue;
}

body {
    background-color: rgb(181, 181, 181);
    overflow: hidden;
}

button {
    outline: none;
    background-color: blue;
    color: white;
    font-size: 1.2em;
}

h1, h2 {
    text-align: center;
}

li {
    list-style: none;
}

.outer-box {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.navbar {

}

.navbar p {
    float: right;
}

.inner-box {
    background-color: rgb(235, 216, 195);
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-box main {
    margin-top: 5vh;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    
}

.inner-box button {
    display: block;
    margin: 0 auto;

}

.questions-page {

}

.finish-screen {

}

.highscores-page {

}

.highscores-page ol {
    overflow-y: scroll;
    max-height: 100px;
}